<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Pemilik</title>
</head>
<body>
    <h1>Edit Pemilik</h1>
    <form action="/pemilik/update/<%= data.id_pemilik %>" method="POST">
        <label for="nama_pemilik">Nama Pemilik:</label><br>
        <input type="text" id="nama_pemilik" name="nama_pemilik" value="<%= data.nama_pemilik %>"><br>
        <label for="alamat">Alamat:</label><br>
        <input type="text" id="alamat" name="alamat" value="<%= data.alamat %>"><br>
        <label for="no_hp">No HP:</label><br>
        <input type="text" id="no_hp" name="no_hp" value="<%= data.no_hp %>"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
